.expensesContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.addNew{
    position: absolute;
    top: 10px;;
    z-index: 1000;
    border:none;
    width:50px;
}

.addNew img{
    z-index: 1000;
    width:100%;
    height:100%;
    border-radius: 1rem;
    background-color: aquamarine;
}
.addNew img:hover{
    box-shadow: 0px 0px 10px 0px orangered;
}
.expensesWrapper {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3) ;
    margin: 30px 0px;
}

.emptyList{
    text-align: center;
    padding: 50px;
    font-size: 1.5rem;
    color: orangered;
}

.priceWrapper{
    position: absolute;
    background-color:tomato;
    top: -190px;
    left: 85px;;
    width:150px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 10px;
    height: auto;
}

@media screen and (min-width: 585px) {
    .priceWrapper{
        background-color:tomato;
        top: -170px;
        left: 180px;
       
    }
  }